@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@400;700&family=Unica+One&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #0095dd;
    min-height: 100vh;

    /* hides scroll bar if it is needed */
    overflow: hidden;

    /* display, flex-direction, and align-items center the project horizontally*/
    display: flex;
    flex-direction: column;
    align-items: center;

    /* justify-content and height center the project vertically */
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 45px;
    color: #fff;
}

canvas {
    background: #f0f0f0;
    display: block;
    border-radius: 5px;
}

.btn {
    cursor: pointer;
    border: 0;
    padding: 10px 20px;
    background: #000;
    color: #fff;
    border-radius: 5px;
}

.btn:focus {
    outline: 0;
}

.btn:hover {
    background: #222;
}

.btn:active {
    transform: scale(0.98);
}

.name-btn {
    position: absolute;
    top: 30px;
    left: 30px;
}

.rules-btn {
    position: absolute;
    top: 90px;
    left: 30px;
}

.options-btn {
    position: absolute;
    top: 150px;
    left: 30px;
}

.high-score-btn {
    position: absolute;
    top: 210px;
    left: 30px;
}

/* Selects buttons that do not close menu */
.btn:not(.menu-item .btn) {
    width: 200px;
}

.rules,
.options,
.high-score,
.name {
    position: absolute;
    top: 0;
    background: #333;
    color: #fff;
    min-height: 100vh;
    width: 400px;
    padding: 20px;
    line-height: 1.5;
    transition: transform 1s ease-in-out;
    opacity: 0.97;
    z-index: 5;
    /* z-index prevents buttons from overlapping screen */
}

.rules,
.options,
.high-score,
.name {
    left: 0;
    transform: translateX(-400px);
}


.rules.show,
.options.show,
.high-score.show,
.name.show {
    transform: translateX(0);
}

table {
    /* border-collapse: gets rid of the space between td elements */
    /* did this for a every-other background-color for tr for legiblity */
    border-collapse: collapse;
    margin-bottom: 10px;
}

th,
td {
    text-align: left;
    width: 200px;
    padding: 4px 0;
    padding-left: 4px;
}

#table-body tr:nth-child(odd) {
    background-color: #222;
}

td {
    border: 0;
}

label {
    display: block;
    margin: 0 auto;
}

.submit-area input {
    border-radius: 9px;
    display: block;
    font-size: 16px;
    padding: 12px;
    width: 100%;
    margin: 10px 0;
}